<a href="https://colab.research.google.com/github/19PA1A0532/python-basics/blob/master/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [0]:
data=pd.read_csv('students_placement_data.csv')
data

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
data.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
X=data[['SSC Percentage','inter_Diploma_percentage']].values
Y=data[['B.Tech_percentage']].values

In [0]:
X.shape

(117, 2)

In [0]:
Y.shape

(117, 1)

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [0]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
model.intercept_

array([-8.93757155])

In [0]:
model.coef_

array([[0.13815068, 0.74767901]])

In [0]:
predicted_btech=model.predict(X_test)
predicted_btech

array([[59.48428235],
       [74.39237133],
       [47.70510932],
       [62.29059186],
       [62.07269608],
       [38.58534424],
       [63.65735244],
       [61.03401875],
       [64.21328587],
       [69.64778895],
       [69.47400295],
       [51.16069667],
       [72.0755656 ],
       [68.16310069],
       [64.41857474],
       [58.94306477],
       [61.57127722],
       [62.5781799 ],
       [71.03915168],
       [63.13088105],
       [66.63425342],
       [52.64568922],
       [69.41448084],
       [72.10369535]])

In [0]:
predicted_btech.shape

(24, 1)

In [0]:
actual_predicted=pd.DataFrame({'Actual value':Y_test.flatten(),'Predicted vlaues':predicted_btech.flatten()})
actual_predicted

    Actual value  Predicted vlaues
0          71.49         59.484282
1          81.10         74.392371
2          62.98         47.705109
3          68.70         62.290592
4          61.02         62.072696
5          60.53         38.585344
6          61.00         63.657352
7          35.84         61.034019
8          68.30         64.213286
9          69.62         69.647789
10         83.38         69.474003
11         45.26         51.160697
12         78.00         72.075566
13         54.18         68.163101
14         65.53         64.418575
15         52.00         58.943065
16         51.00         61.571277
17         73.13         62.578180
18         74.30         71.039152
19         63.41         63.130881
20         70.01         66.634253
21         55.70         52.645689
22         74.96         69.414481
23         70.85         72.103695

In [0]:
print('R2 error:',metrics.r2_score(Y_test, predicted_btech))

R2 error: 0.20796768422106493

In [0]:
print('mean2 error',mean_squared_error(Y_test,predicted_btech,'y_true' and 'y_pred'))

mean2 error 99.99274207500717

In [0]:
print('mean2 error f',mean_squared_error())

In [120]:
grouped=data.groupby('Gender')
grouped.agg(np.mean)

          Roll No  SSC Percentage  ...  B.Tech_percentage  Backlogs
Gender                             ...
F       58.142857       82.911633  ...          71.199388  0.714286
M       59.617647       78.460000  ...          56.994265  6.558824

[2 rows x 5 columns]

female are better performed than male

In [132]:
grouped.agg(metrics.mean_squared_error(Y_test,predicted_btech))

TypeError: ignored