<a href="https://colab.research.google.com/github/19PA1A0532/python-basics/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('students_placement_data.csv')
data

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [4]:
grouped=data.groupby('Gender')
x=grouped.agg(np.mean)

          Roll No  SSC Percentage  ...  B.Tech_percentage  Backlogs
Gender                             ...
F       58.142857       82.911633  ...          71.199388  0.714286
M       59.617647       78.460000  ...          56.994265  6.558824

[2 rows x 5 columns]

In [19]:
x=data.agg('Gender')
x

0      M
1      F
2      F
3      M
4      M
      ..
112    M
113    M
114    M
115    M
116    M
Name: Gender, Length: 117, dtype: object

In [0]:
f=pd.DataFrame({'f':data['Gender'],'b.tech':data['']})